# Azure subscription vars
subscription_id = "7de72e36-dc87-4e3f-aa67-6dacbc9993c6"
client_id = "8b324229-c200-4ab5-8a9e-cd3857b0cfa2"
client_secret = "9uI8Q~MgEMvDqqfaK63Eo2Y3azysClQgybMBmchI"
tenant_id = "f958e84a-92b8-439f-a62d-4f45996b6d07"

# Resource Group/Location
location = "East US"
resource_group = "udacity-ensuring-quality-releases-rg"
application_type = "WebApp"

# Network
virtual_network_name = "udacity-ensuring-quality-releases-vnet"
address_space = ["10.0.0.0/16"]
address_prefix_test = "10.0.1.0/24"

# VM
vm_size = "Standard_B1s"
vm_admin_username = "adminuser"
vm_password = "S3cr3tp4ssw0rd!"
