# Azure subscription vars
subscription_id = ""
client_id = ""
client_secret = ""
tenant_id = ""

# Resource Group/Location
location = "East US"
resource_group = "udacity-ensuring-quality-releases-rg"
application_type = "WebApp"

# Network
virtual_network_name = "udacity-ensuring-quality-releases-vnet"
address_space = ["10.5.0.0/16"]
address_prefix_test = "10.5.1.0/24"

# Backend
storage_account_name = "tstate"
container_name = ""
key = "terraform.tfstate"
access_key = ""